
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Quicksand:wght@300..700&display=swap');



.open-sans-normal {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
  

*{
    margin: 0;
    padding: 0;
}


.btn-primery{
    border: 0;
    padding: 10px 30px;
    border-radius: 10px;
    background: #FEA301;
    font-weight: 500;
    font-size: 20px;

}

#header{
    width: 1170px;
    margin: 0 auto;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 ul li{
    display: inline-block;
    margin: 10px 32px;
 }
 ul li a{
    text-decoration: none;
 }
 ul li .mone{
    color: #FEA301;
 }
 ul li .mtwo{
    color: #375ee0;
 }
 ul li .mthree{
    color: #46d9e4;
 }
 ul li .mfour{
    color: #5D58EF;
 }
 button a {
    text-decoration: none;
    color: #ffffff;
 }
 .logo{
    display: flex;
    align-items: center;
 }
 .logo .cs{
    font-size: 32px;
    font-weight: bold;
 }
 .bars{
    display: none;
 }

 /* =================banner================= */

.banner{
    display: flex;
    justify-content: space-between;
}
.clrone{
    color: #FEA301;
}
.clrtwo{
    color: #375ee0;
}
.banner .text{
    margin-top: 110PX;
    width: 580px;
}
.banner .text .title{
    font-size: 55px;
}
.banner .text .discription{
    font-size: 18px;
    margin: 20px 0;
}
.banner .text .bbtn{
    background: #3f3a3a;
}
/* =====================curriculum=========================== */
#curriculum{
    background: url(/images/bg.png);
    margin-top: 80px;
    margin-bottom: 100px;
}
#curriculum .title{
    font-size: 46px;
    text-align: center;
}
#curriculum .curriculum-item{
    width: 1170px;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
}
#curriculum .curriculum-item .one{
    width: 280px;
    padding: 20px;
    background: linear-gradient(90deg, rgba(223,224,234,100) 0%,
     rgba(148,194,233,0.16850490196078427) 100%);
    border-radius: 10px;
    text-align: center;
}
#curriculum .curriculum-item .one .item-title{
    font-size: 24px;
    font-weight: bold;
}
#curriculum .curriculum-item .one .dis{
    font-size: 14px;
    margin: 10px 0;
}
#curriculum .curriculum-item .one a{
    text-decoration: none;
    color: #FEA301;
}
#curriculum .curriculum-item .two a{
    color: #e03737;
}
#curriculum .curriculum-item .three a{
    color: #00ff80;
}
#curriculum .curriculum-item .two{
    background: rgb(238,174,202);
    background: linear-gradient(16deg, rgba(238,174,202,1) 0%, rgba(168,175,126,0.03125) 90%);
}
#curriculum .curriculum-item .three{
    background: rgb(34,193,195);
background: linear-gradient(16deg, rgba(34,193,195,1) 0%, rgba(253,45,84,0.08727240896358546) 40%);
}
 .s-arrow{
    background: #FEA301;
    color: #ffffff;
    padding: 20px;
    border-radius: 50%;
 }
 .arrow-btn{
    text-align: center;
    cursor: pointer;
    margin-top: 100px;
 }



/* ======================================== */

@media screen and (max-width: 576px) {
    #header{
        width: auto;
        margin: 0 auto;
    }
    nav{
        justify-content: space-between;
    }
    ul,  button, .cs{
        display: none;
    }
    .bars{
        display: block;
        cursor: pointer;
    }
    .banner{
        flex-direction: column-reverse;
        margin-bottom: 100px;
    }
    .banner .text{
        width: auto;
        text-align: center;
    }
    .banner .text .title{
        font-size: 32px;
    }
    .image{
        width: 80%;
        margin: auto;
    }
    .image img{
        width: 100%;
    }
    .banner .text .bbtn{
        background: #3f3a3a;
        display: inline-block;
    }
    /* #curriculum {
        text-align: center;
        width: auto;
    } */
    #curriculum .curriculum-item{
        flex-direction: column;
        align-items: center;
        width: auto;

    }
    #curriculum .curriculum-item .one{
        margin: 30px 0;
    }
    #curriculum .title{
        font-size: 32px;
    }
    .arrow-btn{
        display: none;
    }
   
}





